@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, black,rgb(2, 2, 33))
}

html { 
    scroll-behavior: smooth;
}

@keyframes move-bg { 
    0% { transform: translateX(-50%) translateY(-50%); } 
    50% { transform: translateX(50%) translateY(50%); } 
    100% { transform: translateX(-50%) translateY(-50%); } 
} 
.animate-move-bg { animation: move-bg 10s infinite linear;}


